[Unit]
Description=Schiribot 1.6.0 DEAMON

[Service]
ExecStart=/usr/bin/java -jar /root/schiedsrichter-assistent-1.6.0.jar
User=root

[Install]
WantedBy=multi-user.target