[Unit]
Description=Schiribot 1.6.2 DEAMON

[Service]
ExecStart=/usr/bin/java -jar /root/schiedsrichter-assistent-1.6.2.jar
User=root

[Install]
WantedBy=multi-user.target